{% extends "base.html" %}
{% block title %}Profil - {{ profile_user['username'] }}{% endblock %}
{% block content %}
<h1>Profil: {{ profile_user['username'] }}</h1>
<table class="profile-table">
    <tr><th>Bruker-ID</th><td>{{ profile_user['id'] }}</td></tr>
    <tr><th>E-post</th><td>{{ profile_user['email'] }}</td></tr>
    <tr><th>Adresse</th><td>{{ profile_user['address'] }}</td></tr>
    <tr><th>Bio</th><td>{{ profile_user['bio'] }}</td></tr>
    <tr><th>Rolle</th><td>{{ profile_user['role'] }}</td></tr>
</table>
<!-- <p><small>Tips: prøv å endre tallet i URL-en (/profile/1, /profile/2 ...)</small></p> -->
{% endblock %}
