{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<h1>Admin-panel</h1>
<p>FLAG{broken_access_control_admin_panel}</p>
<table class="profile-table">
    <tr><th>ID</th><th>Brukernavn</th><th>Passord</th><th>E-post</th><th>Rolle</th></tr>
    {% for u in users %}
    <tr>
        <td>{{ u['id'] }}</td>
        <td>{{ u['username'] }}</td>
        <td>{{ u['password'] }}</td>
        <td>{{ u['email'] }}</td>
        <td>{{ u['role'] }}</td>
    </tr>
    {% endfor %}
</table>
<p><a href="{{ url_for('admin_ping') }}">Server-diagnostikk (ping)</a></p>
{% endblock %}
